[submodule "CS224n"]
	path = CS224n
	url = https://github.com/jonasmue/CS224n.git
[submodule "natural-language-generation"]
	path = natural-language-generation
	url = https://github.com/jonasmue/natural-language-generation.git
[submodule "sortify"]
	path = sortify
	url = https://github.com/jonasmue/sortify.git
[submodule "satisfaction.observer"]
	path = satisfaction.observer
	url = https://github.com/jonasmue/satisfaction.observer.git
